<div class="container-fluid">
  <div class="row">

      <div class="alert alert-warning">
        Mailto: <a href="mailto:recv@test.com?subject=aaa&amp;body=aaa">recv@test.com</a>
      </div>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr><th>ID</th><th>Score</th></tr>
        </thead>
        <tbody>
          <tr><td>@taguchi</td><td>200</td></tr>
          <tr><td>@fkoji</td><td>300</td></tr>
          <tr><td>@dotinstall</td><td>240</td></tr>
        </tbody>
      </table>

  </div>
</div>
