<div class="container-fluid">
  <div class="row">

    <div class="row">
      <div class="alert alert-warning">
        Mailto: <a href="mailto:<%= @receive_address %>?subject=メール受信テスト&amp;body=メール受信テストの本文"><%= @receive_address %></a>
      </div>
    </div>
    <table id="receive-table" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th><small>to</small></th>
          <th><small>from</small></th>
          <th><small>subject</small></th>
          <th><small>text</small></th>
          <th><small>html</small></th>
          <th><small>charsets</small></th>
          <th><small>attachments</small></th>
          <th><small>envelope</small></th>
          <th><small>sender_ip</small></th>
          <th><small>dkim</small></th>
          <th><small>SPF</small></th>
          <th><small>headers</small></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="<%= rocketio_js %>"></script>
<script src="js/encoding.js"></script>
<script src="js/common.js"></script>
<script src="js/receive.js"></script>
